<!DOCTYPE html>

<html ng-app="climateApp">

<head>
  <title>climate_change_morality</title>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.js"></script>

  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="//cdn.rawgit.com/t4t5/sweetalert/master/lib/sweet-alert.css">
  <link rel="stylesheet" href="//cdn.rawgit.com/angular/bower-material/master/angular-material.css">
</head>

<body>
  <md-content>
  <div ng-controller="EnergyProvidersCtrl">
  <md-card>

      You live in Hamilton, NY and use <input type="number" min="0" ng-model="monthlyUsage" ng-required=true ng-change="updateDifferences()"> kWh of electricity per month.
      Realizing that you can change your electricity provider from the incumbent utility to many different third party options,
        you decide to compare them based on their price and greenhouse gas emissions...
  </md-card>

  <md-card>
    <i>Click on any provider to compare it.</i>
    <highchart id="chart1" config="chartConfig" ng-click="updateSelectedProvider()"></highchart>
      </md-card>

    <md-card ng-if="selected">
      <p>
        You think about switching to <strong>{{ selected.provider }}</strong>.
        It will cost you <strong>{{ selected.price * monthlyUsage | currency }}</strong> a month, with a <strong>{{ selected.pricingScheme | lowercase }}</strong> pricing scheme.
        <span ng-if="selected.mix">
          They say their energy comes from <strong>{{ selected.mix | prettyMix }}</strong>.
        </span>
        <span ng-if="!selected.mix">
          They did not specify where what their energy mix is, so we assume it
          is <strong>{{ selected.normalizedMix | prettyMix }}</strong>.
        </span>
        This means they produce <strong>{{ selected.emmissions | number : 0 }} GtCO<sub>2</sub>eq per kwH</strong>
        <span ng-if="selected.green">
          and are marked as a <strong>"Green"</strong> provider
        </span>.
        <span ng-if="selected.minTerm">
          They have a minimum service term of <strong>{{selected.minTerm}}</strong><span ng-if="selected.cancellationFee > 0">, with a cancellation fee of <strong>{{selected.cancellationFee | currency }}</strong></span>.
        </span>
      </p>
      <p>
        If you switched, and kept them until 2030 you would <strong>{{ (priceDifference < 0) ? "lose" : "save" }} {{ priceDifference | abs | currency }}</strong>.
        Based on the difference in carbon outputs, you would cause <strong>{{ lifeDifference | abs | number : 5 }} more people to  {{ (lifeDifference > 0) ? "live" : "die" }}</strong> between 2030 and 2050, than if you stayed with the default.
        <span ng-if="priceDifference < 0 && lifeDifference > 0">
          This means you would be paying be paying <strong>{{ (priceDifference / lifeDifference) | abs | currency }} per life saved</strong>.
        </span>
        </p>
        <md-button ng-href="{{'http://newyorkpowertochoose.com/' + selected.url}}" target="_blank">Make The Switch</md-button>
    </md-card>
  </div>
  <md-card ng-controller="InfoCtrl">
    <div ng-bind-html="readme"></div>
  </md-card>
  </md-content>

  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js"></script>
  <script src="//epeli.github.io/underscore.string/dist/underscore.string.min.js"></script>

  <script src="//code.highcharts.com/highcharts.src.js"></script>
  <script src="//cdn.rawgit.com/pablojim/highcharts-ng/master/src/highcharts-ng.js"></script>

  <script src="//cdn.rawgit.com/t4t5/sweetalert/master/lib/sweet-alert.js"></script>

  <script src="//cdn.rawgit.com/floydsoft/angular-underscore/master/angular-underscore.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.js"></script>

  <script src="//cdn.rawgit.com/gentooboontoo/js-quantities/master/src/quantities.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/hammer.js/1.1.3/hammer.min.js"></script>
  <script src="//cdn.rawgit.com/angular/bower-angular-aria/master/angular-aria.js"></script>
  <script src="//cdn.rawgit.com/angular/bower-angular-animate/master/angular-animate.js"></script>
  <script src="//cdn.rawgit.com/angular/bower-material/master/angular-material.js"></script>


  <script src="utils.js"></script>
  <script src="main.js"></script>
  <script src="filters.js"></script>
  <script src="constants.js"></script>
  <script src="services.js"></script>
  <script src="controllers.js"></script>
</body>

</html>
